@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


@theme{
  --color-primary: white; /* a shade of blue */
  --color-secondary: #0552b3; 
  --text-primary: red;
  
}


*{
    font-family: 'Poppins','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.lismit{
    max-width: 20ch;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
    color:red;
}

.card-dark{
    background-image: linear-gradient(to bottom, red, purple, blue);
}

.bg-moon{
    /* background-image: linear-gradient(to bottom, rgb(0, 2, 130), rgb(168, 116, 199), rgb(0, 0, 0)); */
    background-color: rgb(27, 23, 18);
}

.card-light{
    background-image: linear-gradient(to bottom, rgb(159, 40, 238), rgb(0, 0, 0), red);
}

.bg-sun {
    /* background-image: linear-gradient(to bottom, indigo, rgb(192, 172, 247) purple); */
    background-color: #7a5e5e;
}


.blur-1 {
  /* background-color: gray; */
  background-color: transparent;
  backdrop-filter: blur(10px);
  opacity: 100%;
}
.blur-2 {
  background-color: rgba(150, 150, 150, 0.479);
  backdrop-filter: blur(20px);
  opacity: 100%;
}


.handle-scroll {
  scroll-behavior: smooth;
  /* scrollbar-color: rgb(156, 155, 155) transparent; */
  scrollbar-color: white transparent;
}

/* WebKit browsers */
.handle-scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.handle-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.handle-scroll::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 4px;
  border: 2px solid transparent;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}